@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Resources</title>
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js" defer></script>
    <style>
        .container1 {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 30px 50px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .buttons2 button {
            font-size: 24px;
            padding: 10px 20px;
            margin: 5px;
            cursor: pointer;
            background-color: #00a550;
            color: black;
            border: none;
            border-radius: 5px;
        }

            .buttons button:hover {
                background-color: #008a40;
            }
    </style>
</head>
<body class="indexbody">
    <div class="container1">
        <h1 class="title">Welcome to Human Resources</h1>
        <div class="buttons2">
            <a href="/Accounts/LoginForm"><button>Log In</button></a>
            <a href="/Accounts/RegistrationForm"><button>Sign Up</button></a>
        </div>
    </div>
        <footer class="border-top footer text-muted footer-custom">
    <div class="footer">
            &copy; 2023 - HR Management - <a asp-area="" asp-controller="Accounts" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>