@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="site.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            background-image: url('https://cdn.wallpapersafari.com/86/39/XjPsUr.gif');
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 20px;
            border-radius: 5px;
        }

        h1 {
            color: white;
            text-shadow: 2px 2px 0px black;
        }

        p {
            color: yellow;
        }
    </style>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <p>This is Human Resources Site Where your Resources are safety!.</p>
</body>
</html>